main .form-control {
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: 100%;

    background-color: #181816;
    /*background-color: #272822;*/

    color: white;
}
.alert {
    padding: 10px;
    display: none;
}

.example {
    display: block;
    color: #D9E577;
    font-weight: bold;
}

#txtcontainer {
    position: relative;
}

#copycat {
    position: absolute;
    right: 5px;
    bottom: -61px;
    z-index: 10000000;
}
.CodeMirror {
    text-align: left;
    border: medium solid #696969;
    border-radius: 10px;
}

body {
    background-color: #272822;
}

::-webkit-scrollbar { 
    display: none; 
}
