{% extends "layout.html" %}

{% block title %}
  Index
{% endblock %}

{% block main %}
  <link rel="stylesheet" href="{{ url_for('static', filename='codemirror.css' ) }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='monokai.css') }}">
  <script src="{{ url_for('static', filename='codemirror.js') }}"></script>
  <script src="{{ url_for('static', filename='python.js') }}"></script>
  <script>
    // set Home to be white in the navbar
    $("#nav-home").attr("class", "active");
  </script>
  <div class="container">

    <form id="user-input">
      <div class="input-group input-group-lg">
        <input class="form-control input-lg" type="text" id="parse-input" placeholder="Enter your pseudocode" autocomplete="off" autofocus>
        <span class="input-group-btn">
          <button class="btn btn-default btn-lg" id="parse-button">Submit</button>
        </span>
      </div>
    </form>
    <br>
    <textarea id="results" class="CodeMirror" rows="10" style="display:none">"Your code will appear here"</textarea>
    <br>
    <div class="alert alert-warning" id="error-message">
        <strong>Sorry!</strong> 
        We were unable to understand your input. Please try again.
    </div>

  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <script>
    // initializing the textarea as a CodeMirror text editor
    var editor = CodeMirror.fromTextArea(results, {
      lineNumbers: true,
      mode: "python",
      theme: "monokai",
      readOnly: true,
    });
    $("#results").css("display:block");

    $("#user-input").on("submit", function(e) {
      // prevent the post request from going through and reloading the page
      e.preventDefault();

      // grab the input from the submission field
      inp = $("#parse-input").val()

      // store the input in the history to allow the user to use arrow keys to go through history
      if (inp.length > 0) {
        codeHistory.push(inp);
        idx = codeHistory.length - 1;
      }

      // AJAX request for the backend of the project
      $.getJSON({
        url: "{{ url_for('parse') }}",
        data: {
          input: inp,
        },
      })
      .done(function(result) {
        // result is a json with two keys: isError and code
        // if there is an error, display the error message
        if (result.isError) {
          $("#error-message").fadeTo(3000, 500).slideUp(500, function(){
              $("#error-message").slideUp(500);
          });
        } 
        else {
          // set the editor's text to the code
          editor.getDoc().setValue(result.code);
        }

        // clear the input field
        $("#parse-input").val("");  

        // if the text editor's text is now blank, display the original comment
        if (editor.getDoc().getValue() == "") {
          editor.getDoc().setValue("\"Your code will appear here\"");
        }      
      });
    });
  </script>

{% endblock %}
