<!DOCTYPE html>

<html lang="en">

<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cyborg/bootstrap.min.css" rel="stylesheet"/>
  <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>

  <meta charset="utf-8"/>
  <meta content="initial-scale=1, width=device-width" name="viewport"/>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script src="{{ url_for('static', filename='codemirror.js') }}"></script>
  <script src="{{ url_for('static', filename='python.js') }}"></script>
  
  <link rel="stylesheet" href="{{ url_for('static', filename='codemirror.css'	) }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='monokai.css') }}">

  <title>Pseudocode Parser: {% block title %}{% endblock %}</title>

</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ url_for('index') }}">Pseudocode Parser</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="" id="nav-home"><a href="{{ url_for('index') }}">Home</a></li>
          <li class="" id="nav-about"><a href="{{ url_for('about') }}">About</a></li>
          <li class="" id="nav-contact"><a href="">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  {% if get_flashed_messages() %}
    <header>
      <div class="alert alert-info" role="alert">
        {{ get_flashed_messages() | join(" ") }}
      </div>
    </header>
  {% endif %}

  <main>
    {% block main %}{% endblock %}
  </main>
</body>
</html>
